<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров &ndash; Магазин автозапчастей</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<a data-th-href="@{/catalogue/parts/create}">&llarr; Создать новую запчасть</a>
<h1>Список запчастей</h1>
<form method="get" data-th-action="@{/catalogue/parts/list}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Запчасть</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="part : ${parts}">
        <td data-th-text="${part.article}"></td>
        <td>
            <a data-th-href="@{/catalogue/parts/{articlePart}(articlePart=${part.article})}"
               data-th-text="${part.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>